.sidebar-about h1 > a {
  font-weight: 100;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

h1.post-title {
  font-weight: 100;
}

.sidebar-nav > hr {
  margin: 1rem 0;
  border-top-color: #7d7d7d73;
  border-bottom-color: #ffffff75;
}

.sidebar {
  background: #202020 bottom center no-repeat url(/public/background.jpg);
  background-size: cover;
}

.post a, .post code, .post blockquote {
  overflow-wrap: break-word;
}

.social {
  margin-top: 1rem;
}

.social > .sidebar-nav-item {
  display: inline-block;
  opacity: 0.75;
  transform: scale(0.8);
  transition: 0.2s ease-in opacity, 0.2s ease-in-out transform;
}

.social > .sidebar-nav-item:hover {
  opacity: 1;
  transform: scale(1.0);
}

.social > .sidebar-nav-item > img {
  display: inline-block;
  width: 2rem;
  margin: 0.5rem;
}